<p>Estimado(a) <%= @user.firstname %></p>

<p>Te has inscrito como líder de brigada de nuestra Colecta FCR2019</p>

<p>Nuestra colecta se realizará los días:</p>
<ul>
	<li>Sábado 08 de junio</li>
</ul>
<p>En las principales avenidas de tu ciudad.</p>

<h4>Horarios</h4>
<ul>
  <li>Sábado 08 de junio 09h00 a 14h00</li>
</ul>

<p><strong>Acaba de reservar tu ubucación siguiendo los siguientes pasos:</strong></p>
<ol>
  <li>Ingresa los datos de 5 amigos</li>
  <li>Cada uno de tus amigos deberá confirmar por correo electrónico su participación</li>
  <li>Debes tener mínimo 5 amigos confirmados para asegurar tu ubicación</li>
	<li>Ingresar nu total de 5 amigos confirmados para asegurar tu ubicación</li>
</ol>

<p>Para completar tu grupo <a href="<%= @url %>">haz click aquí</a> e ingresa los datos de más amigos</p>
<p>En caso de no funcionar el enlace, copia y pega lo siguiente en el navegador: <%= @url %></p>
<p>Si tienes algún problema por favor comunícate con el correo <a href='mailto:inscribete@fcr.org.ec'>inscribete@fcr.org.ec</a></p>

<h4>Responsabilidades del líder</h4>
<ol>
  <li>Confirmar un grupo de 5 personas para su brigada.</li>
  <li>Seleccionar una ubicación de su ciudad.</li>
  <li>Asistir junto a sus amigos a las capacitaciones que se realizarán.</li>
  <li>Retirar el material para la colecta y hacerse responsable de devolver este material en buen estado.</li>
  <li>Comunicar un mensaje claro sobre el trabajo de la Fundación Cecilia Rivadeneira con los niños con cáncer y sus familias.</li>
  <li>Mantener el ánimo durante toda la jornada, tanto de sus amigos como del público en general.</li>
</ol>

<p>
  Gracias por unirte a la construcción de una sociedad más optimista y solidaria.
</p>

<h3>Fundación Cecilia Rivadeneira</h3>
<p>
  Buscamos mejorar la calidad de vida de los niños/as con cáncer y sus familias en el Ecuador. Estamos convencidos que
  el cuidado de un niño con cáncer y su familia va mucho más allá de la medicación y la tecnología.
</p>

<p>Si no has creado esta cuenta o recibiste por error este mensaje, haz caso omiso a este correo.</p>
