<p>Estimado(a) <%= @user.firstname %></p>

<p>Te has inscrito como líder de brigada de nuestra Colecta FCR2019</p>

<p>Nuestra colecta se realizará los días viernes 17 y sábado 18 de mayo en las principales avenidas de tu ciudad.</p>

<h4>Horarios</h4>
<ul>
  <li>Viernes 07h00 a 12h00</li>
  <li>Viernes 12h00 a 18h00</li>
  <li>Sábado 07h00 a 12h00</li>
  <li>Sábado 12h00 a 18h00</li>
  <li>Todo el día</li>
</ul>

<p><strong>Termina de reserva tu ubucación siguiendo los siguientes pasos:</strong></p>
<ol>
  <li>Ingresa los datos de 5 amigos</li>
  <li>Cada uno de tus amigos deberá  confirmar por correo electrónico tu ubicación</li>
  <li>Debes tener mínimo 5 amigos confirmados para asegurar tu ubicación</li>
</ol>
<ul>
  <li><a href="<%= @url %>">haz click aquí</a> e ingresa los datos de más amigos</li>
  <li>En caso de no funcionar el enlace, copia y pega el siguiente enlace en el navegador: <%= @url %></li>
  <li>Si tienes algún problema por favor comunícate al correo
    <a href='mailto:inscribete@fcr.org.ec'>inscribete@fcr.org.ec</a></li>
</ul>

<h4>Responsabilidades del líder</h4>
<ol>
  <li>Confirmar un grupo de 5 personas para su brigada.</li>
  <li>Seleccionar una ubicación de su ciudad.</li>
  <li>Asistir junto a sus amigos a las capacitaciones que se realizarán.</li>
  <li>Retirar el material para la colecta y hacerse responsable de devolver este material en buen estado.</li>
  <li>Comunicar un mensaje claro sobre el trabajo de la Fundación Cecilia Rivadeneira con los niños con cáncer y sus familias.</li>
  <li>Mantener el ánimo durante toda la jornada, tanto de sus amigos como del público en general.</li>
</ol>

<p>
  Gracias por unirte a la construcción de una sociedad más optimista y solidaria.
</p>

<h3>Fundación Cecilia Rivadeneira</h3>
<p>
  Buscamos mejorar la calidad de vida de los niños/as con cáncer y sus familias en el Ecuador. Estamos convencidos que
  el cuidado de un niño con cáncer y su familia va mucho más allá de la medicación y la tecnología.
</p>

<p>Si ud. no ha creado esta cuenta o recibió por error este mensaje, haga caso omiso a este correo.</p>
